* {
  margin: 0;
  padding: 0;
}

.container {
  text-align: center;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows:  0.5fr 0.5fr 2fr 0.5fr;
}

.container div {
  padding: 15px;
  font-size: 32px;
  font-family: Helvetica;
  font-weight: bold;
  color: white;
}

.header {
  width: 100vw;
  background-color: #393f4d;
  grid-area: 1 / 1 / 1 / 3;
  display: grid;
  grid-template-columns: 0.5fr  2fr; */
  gap:30px;
}

.header.logo {
  grid-column: 1/3;
  left:0;
}

.menu {
  width: 100%;
  display: grid; 
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.menu ul {
   width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap:100px;
  list-style-type: none;
}

.menu ul,
.menu li {
  font-size: 16px;
} 

.sidebar {
  background-color: #C50208;
  /*row-start column-start row-end column-end*/
  /* grid-area: 2 / 1 / 3 / 1;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  gap:100px */
}

.sidebar div {
  /* height: 4rem;
  width: 8rem; */
} 

.sidebar .photo {
  background-color: white;
  color: black;
  font-size: 12px;
  font-weight: normal;
  border-radius: 10px;
}


.sidebar .side-content {
  background-color: white;
  color: black;
  font-size: 16px;
  font-weight: normal;
}

.nav {
  background-color: #C50208;
  /* grid-row: 2/4;
  grid-column: 2/3; */
}

.nav ul li {
  font-size: 16px;
  text-transform: uppercase;
}

.article {
  background-color: #bccbde;
  /* grid-column: 2/2;
  grid-area: 2/2/3/2; */
}

.article p {
  font-size: 18px;
  font-family: sans-serif;
  color: white;
  text-align: left;
}

.article .card {
  background-color: #FFFFFF;
  color: black;
  text-align: center;
  /* height: 3rem; */
}

.card p {
  color: black;
  font-weight: normal;
  font-size: 14px;
}

.card .title {
  font-size: 18px;
  text-align: center;
}

.footer {
  background-color: #393f4d;
}

.footer p {
  font-size: 13px;
  font-weight: normal;
}