

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  min-height: 100vh;
}

.container {
  display: flex;
  min-height: 100vh;
  flex-direction: row;
  width: 100vh;
  flex:5;
  align-items: flex-start;
  justify-content: flex-start;
}

.header {
  height: 72px;
  background: darkmagenta;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%; /* Full width of container */
  padding-left: 10px;
}

.footer {
  height: 72px;
  background: #eee;
  color: darkmagenta;
}

.sidebar {
  width: 300px;
  background: royalblue;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex: 1;
  height:100vh;
  column-gap:50px;
}

ul {
  list-style-type: none;
  text-decoration: none;
}

ul li a{
  text-decoration: none;
  color: white;
}

.card {
  border: 1px solid #eee;
  box-shadow: 2px 4px 16px rgba(0,0,0,.06);
  border-radius: 4px;
}

